text{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    letter-spacing: 3.4px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}